<!-- layout so we keep our code DRY, reusing code that we already made and overwriting what we need for each individual page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title%}
        <title>Neka's Portfolio Site - {{ title }}</title>
    {% else%}
        <title>Neka's Portfolio Site</title>
    {% endif%}
</head>
<body>
    {% block content %}{% endblock %} <!--resuable content block that can be overridden elsewhere-->
</body>
</html>